@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import "tailwindcss";

body {
  background-color: #eeffff;
}

.font-cursive {
  font-family: cursive;
}

.font-sacramento {
  font-family: "Sacramento", cursive;
}

.adjust-icon {
  transform: translateY(2px);
}
