@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import "tailwindcss";

body {
  background-color: #eeffff;
}

.font-cursive {
  font-family: cursive, sans-serif;
}

.font-sacramento {
  font-family: "Sacramento", cursive, sans-serif;
}

.adjust-icon-2 {
  transform: translateY(2px);
  font-size: 1.3rem;
}

.adjust-icon-4 {
  transform: translateY(4px);
  font-size: 1.3rem;
}

.w-10vw {
  width: 10vw;
}

.w-20vw {
  width: 20vw;
}

.w-30vw {
  width: 30vw;
}

.w-40vw {
  width: 40vw;
}

.w-50vw {
  width: 50vw;
}

.w-80vw {
  width: 80vw;
}

.w-100vw {
  width: 100vw;
}
