openapi: 3.0.3

info:
  version: 1.0.0
  title: 自分ダッシュボードAPI定義

tags:
  - name: Resource
    description: リソースAPI
  - name: User
    description: ユーザ情報API
  - name: Setting
    description: 設定情報API
  - name: File
    description: ファイルAPI
  - name: Salary
    description: 給与情報API
  - name: Qualification
    description: 資格情報API
  - name: Vocabulary
    description: ボキャブラリー情報API

security:
  - CognitoJwtAuth: []

servers:
  - url: http://localhost:4011/

paths:
  /resources/i18n/{localeCode}:
    $ref: "paths/resources/i18n/localeCode.yaml"
  /users:
    $ref: "paths/users/index.yaml"
  /users/password:
    $ref: "paths/users/password.yaml"
  /settings:
    $ref: "paths/settings/index.yaml"
  /files/upload-url:
    $ref: "paths/files/upload-url.yaml"
  /files/upload-mock:
    $ref: "paths/files/upload-mock.yaml"
  /salaries:
    $ref: "paths/salaries/index.yaml"
  /salaries/{salaryId}:
    $ref: "paths/salaries/salaryId.yaml"
  /salaries/ocr-tasks:
    $ref: "paths/salaries/ocr-tasks/index.yaml"
  /salaries/ocr-tasks/{ocrTaskId}:
    $ref: "paths/salaries/ocr-tasks/ocrTaskId.yaml"
  /salaries/ocr-tasks/start:
    $ref: "paths/salaries/ocr-tasks/start.yaml"
  /qualifications:
    $ref: "paths/qualifications/index.yaml"
  /qualifications/{qualificationId}:
    $ref: "paths/qualifications/qualificationId.yaml"
  /vocabulary:
    $ref: "paths/vocabulary/index.yaml"

components:
  securitySchemes:
    CognitoJwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    I18n:
      $ref: "schemas/resource/i18n.yaml"
    User:
      $ref: "schemas/user/user.yaml"
    UserId:
      $ref: "schemas/user/userId.yaml"
    UserBase:
      $ref: "schemas/user/userBase.yaml"
    Password:
      $ref: "schemas/user/password.yaml"
    Setting:
      $ref: "schemas/setting/setting.yaml"
    UploadUrl:
      $ref: "schemas/file/uploadUrl.yaml"
    Salary:
      $ref: "schemas/salary/salary.yaml"
    SalaryId:
      $ref: "schemas/salary/salaryId.yaml"
    SalaryBase:
      $ref: "schemas/salary/salaryBase.yaml"
    SalaryOcrTask:
      $ref: "schemas/salary/ocrTask/salaryOcrTask.yaml"
    SalaryOcrTaskId:
      $ref: "schemas/salary/ocrTask/salaryOcrTaskId.yaml"
    SalaryOcrTaskBase:
      $ref: "schemas/salary/ocrTask/salaryOcrTaskBase.yaml"
    Qualification:
      $ref: "schemas/qualification/qualification.yaml"
    QualificationId:
      $ref: "schemas/qualification/qualificationId.yaml"
    QualificationBase:
      $ref: "schemas/qualification/qualificationBase.yaml"
    Vocabulary:
      $ref: "schemas/vocabulary/vocabulary.yaml"
    VocabularyId:
      $ref: "schemas/vocabulary/vocabularyId.yaml"
    VocabularyBase:
      $ref: "schemas/vocabulary/vocabularyBase.yaml"
    ErrorInfo:
      $ref: "schemas/error/errorInfo.yaml"
  responses:
    BadRequest:
      description: パラメータ不正
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorInfo"
