# Ignore Gradle project-specific cache directory
.gradle
.kotlin

# Ignore Gradle build output directory
/build/*

# Ignore binary files
bin

# Ignore terraform files
.terraform
*.tfstate
*.tfstate.backup

# Ignore localstack files
.localstack
