<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>

    <!-- ConsoleにJSON 出力 -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <stackTrace/>
                <mdc/>
                <globalCustomFields>{"app":"jibun-dashboard", "service":"resource"}</globalCustomFields>
            </providers>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="JSON"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="com.amazonaws.serverless" level="INFO"/>
</configuration>
