name: Continuous Delivery
on:
  push:
    branches:
      - main
    paths:
      - "infra/**"
      - "openapi/**"
      - "front/**"
      - "back/**"
      - ".github/workflows/cd.yaml"

concurrency:
  group: cd-${{ github.ref }}

jobs:
  infra:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: dev

    env:
      ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ID }}:role/${{ secrets.ROLE_NAME }}
      SESSION_NAME: gh-oidc-${{ github.run_id }}-${{ github.run_attempt }}
      TF_VAR_region: ${{ vars.REGION }}
      TF_VAR_github_url: ${{ github.server_url }}/${{ github.repository }}.git
      TF_VAR_cognito_user_pool_id: ${{ vars.COGNITO_USER_POOL_ID }}
      TF_VAR_cognito_client_id: ${{ vars.COGNITO_CLIENT_ID }}
      TF_VAR_cognito_domain: ${{ vars.COGNITO_DOMAIN }}.auth.${{ vars.REGION }}.amazoncognito.com
      TF_VAR_cognito_callback_url: ${{ vars.COGNITO_CALLBACK_URL }}
      TF_VAR_cognito_logout_url: ${{ vars.COGNITO_LOGOUT_URL }}
      TF_VAR_api_gateway_origin: ${{ vars.API_GATEWAY_ORIGIN }}
      TF_VAR_e2e_username: ${{ vars.E2E_USERNAME }}
      TF_VAR_e2e_password: ${{ secrets.E2E_PASSWORD }}
      TF_VAR_e2e_alert_email: ${{ vars.E2E_ALERT_EMAIL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Filter Changes
        id: filter_changes
        uses: dorny/paths-filter@v2
        with:
          filters: |
            changes:
              - ".github/workflows/cd.yaml"
              - "infra/**"

      - name: No Changes Notification
        if: steps.filter_changes.outputs.changes != 'true'
        run: echo "No changes. Skipping this job."

      - name: AWS Configure
        if: steps.filter_changes.outputs.changes == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: ${{ env.SESSION_NAME }}
          aws-region: ${{ vars.REGION }}

      - name: Setup Terraform
        if: steps.filter_changes.outputs.changes == 'true'
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11"

      - name: Terraform Init
        if: steps.filter_changes.outputs.changes == 'true'
        run: terraform init -input=false -lockfile=readonly
        working-directory: infra/main

      - name: Terraform Format
        if: steps.filter_changes.outputs.changes == 'true'
        run: terraform fmt -check
        working-directory: infra/main

      - name: Terraform Plan
        if: steps.filter_changes.outputs.changes == 'true'
        run: terraform plan -input=false -lock-timeout=10m
        working-directory: infra/main

      - name: Terraform Apply
        if: steps.filter_changes.outputs.changes == 'true'
        run: terraform apply -auto-approve -input=false -lock-timeout=10m
        working-directory: infra/main

  front:
    runs-on: ubuntu-latest
    needs: [infra]
    permissions:
      id-token: write
      contents: read
    environment: dev

    env:
      ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ID }}:role/${{ secrets.ROLE_NAME }}
      SESSION_NAME: gh-oidc-${{ github.run_id }}-${{ github.run_attempt }}
      NUXT_PUBLIC_BASE_URL: /
      NUXT_PUBLIC_API_BASE_URL: /api/v1/
      NUXT_PUBLIC_REQUIRE_AUTH: on
      NUXT_PUBLIC_REGION: ${{ vars.REGION }}
      NUXT_PUBLIC_COGNITO_CLIENT_ID: ${{ vars.COGNITO_CLIENT_ID }}
      NUXT_PUBLIC_COGNITO_DOMAIN: ${{ vars.COGNITO_DOMAIN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Filter Changes
        id: filter_changes
        uses: dorny/paths-filter@v2
        with:
          filters: |
            changes:
              - ".github/workflows/cd.yaml"
              - "front/**"
              - "openapi/**"

      - name: No Changes Notification
        if: steps.filter_changes.outputs.changes != 'true'
        run: echo "No changes. Skipping this job."

      - name: Setup Node.js
        if: steps.filter_changes.outputs.changes == 'true'
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Dependencies
        if: steps.filter_changes.outputs.changes == 'true'
        working-directory: front
        run: npm ci --prefer-offline --no-audit --no-fund

      - name: Generate API Client Module
        if: steps.filter_changes.outputs.changes == 'true'
        run: |
          cd openapi
          npx openapi-generator-cli generate
          if ! grep -Fxq 'export type LocaleCode = I18n;' ../front/generated/api/client/api.ts; then
            echo 'export type LocaleCode = I18n;' >> ../front/generated/api/client/api.ts
          fi
          npx openapi-zod-client openapi.yaml -o ../front/generated/api/client/schemas.ts --export-schemas
          cd ../front
          sed -i '1s;^;/* eslint-disable */\n;' generated/api/client/schemas.ts
          npx --yes prettier@3 --write "generated/api/client/**/*.{ts,tsx,js,json}"

      - name: Run Lint
        if: steps.filter_changes.outputs.changes == 'true'
        working-directory: front
        run: npx eslint .

      - name: Run Tests
        if: steps.filter_changes.outputs.changes == 'true'
        working-directory: front
        run: npx vitest run

      - name: Delete Mock Asset
        if: steps.filter_changes.outputs.changes == 'true'
        working-directory: front
        run: rm -rf public/mock-api

      - name: Generate Static Site
        if: steps.filter_changes.outputs.changes == 'true'
        working-directory: front
        env:
          NITRO_PRERENDER_CONCURRENCY: 8
        run: npm run generate

      - name: Configure AWS Credentials
        if: steps.filter_changes.outputs.changes == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: ${{ env.SESSION_NAME }}
          aws-region: ${{ vars.REGION }}

      - name: Upload to S3
        if: steps.filter_changes.outputs.changes == 'true'
        run: |
          aws s3 sync front/dist s3://${{ vars.FRONT_BUCKET_NAME }} --delete --quiet
          echo '{"deployTime":"'"$(date +%Y%m%d%H%M%S)"'"}' > marker.json
          aws s3 cp marker.json s3://${{ vars.FRONT_BUCKET_NAME }}/deploy/marker.json

  back:
    runs-on: ubuntu-latest
    needs: [infra]
    permissions:
      id-token: write
      contents: read
    environment: dev
    defaults:
      run:
        working-directory: back

    env:
      ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ID }}:role/${{ secrets.ROLE_NAME }}
      SESSION_NAME: gh-oidc-${{ github.run_id }}-${{ github.run_attempt }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Filter Changes
        id: filter_changes
        uses: dorny/paths-filter@v2
        with:
          filters: |
            changes:
              - ".github/workflows/cd.yaml"
              - "back/**"
              - "openapi/**"

      - name: No Changes Notification
        if: steps.filter_changes.outputs.changes != 'true'
        run: echo "No changes. Skipping this job."

      - name: Setup JDK
        if: steps.filter_changes.outputs.changes == 'true'
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: "gradle"

      - name: Make Gradle Wrapper Executable
        if: steps.filter_changes.outputs.changes == 'true'
        run: sudo chmod +x gradlew

      - name: Build Jar
        if: steps.filter_changes.outputs.changes == 'true'
        run: |
          ./gradlew \
            detekt \
            spotlessCheck \
            test \
            bootJar \
            --no-daemon

      - name: Configure AWS Credentials
        if: steps.filter_changes.outputs.changes == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: ${{ env.SESSION_NAME }}
          aws-region: ${{ vars.REGION }}

      - name: Login To Amazon ECR
        if: steps.filter_changes.outputs.changes == 'true'
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Image
        if: steps.filter_changes.outputs.changes == 'true'
        run: |
          REPO="${{ steps.ecr.outputs.registry }}/${{ vars.APP_NAME }}"
          docker buildx build \
            --platform linux/amd64 \
            -t "$REPO:latest" \
            -t "$REPO:${{ github.sha }}" \
            --push \
            .
