name: Continuous Integration - infra
on:
  push:
    branches:
      - main
    paths:
      - "infra/**"
      - ".github/workflows/ci-infra.yaml"

jobs:
  infra:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    environment: dev

    env:
      ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ID }}:role/${{ secrets.ROLE_NAME }}
      SESSION_NAME: gh-oidc-${{ github.run_id }}-${{ github.run_attempt }}
      TF_VAR_region: ${{ vars.REGION }}
      TF_VAR_github_url: ${{ github.server_url }}/${{ github.repository }}.git
      TF_VAR_cognito_user_pool_id: ${{ vars.COGNITO_USER_POOL_ID }}
      TF_VAR_cognito_client_id: ${{ vars.COGNITO_CLIENT_ID }}
      TF_VAR_cognito_domain: ${{ vars.COGNITO_DOMAIN }}
      TF_VAR_cognito_callback_url: ${{ vars.COGNITO_CALLBACK_URL }}
      TF_VAR_cognito_logout_url: ${{ vars.COGNITO_LOGOUT_URL }}
      TF_VAR_api_gateway_origin: ${{ vars.API_GATEWAY_ORIGIN }}
      TF_VAR_openai_api_key: ${{ secrets.OPENAI_API_KEY }}
      TF_VAR_e2e_username: ${{ vars.E2E_USERNAME }}
      TF_VAR_e2e_password: ${{ secrets.E2E_PASSWORD }}
      TF_VAR_e2e_alert_email: ${{ vars.E2E_ALERT_EMAIL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: ${{ env.SESSION_NAME }}
          aws-region: ${{ vars.REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11"

      - name: Terraform Init
        run: terraform init
        working-directory: infra/main

      - name: Terraform Format
        run: terraform fmt -check
        working-directory: infra/main

      - name: Terraform Plan
        run: terraform plan -input=false -out=plan.out -lock-timeout=10m
        working-directory: infra/main

      - name: Generate Terraform Docs
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          working-dir: infra/main
          recursive: "true"
          output-file: "terraform-doc.md"
          output-format: "markdown table"
          output-method: replace
          git-push: "false"

      - name: Copy Docs
        run: |
          mkdir -p doc/04.infra
          cd infra/main
          cp terraform-doc.md ../../doc/04.infra/terraform-doc.md
          find . -type f -name "*.md" -exec cp --parents -f {} ../../doc/04.infra/ \;

      - name: Commit And Push
        run: |
          sudo git config --global user.email "github-actions[bot]@users.noreply.github.com"
          sudo git config --global user.name "github-actions[bot]"
          sudo git restore --staged  infra/main
          sudo git add doc
          if ! git diff --cached --quiet; then
            sudo git commit -m "Automatically Generated"
            sudo git push origin
          fi
