name: Continuous Integration - OpenAPI
on:
  push:
    branches:
      - main
    paths:
      - "openapi/**"
      - ".github/workflows/ci-openapi.yaml"

jobs:
  generate-doc:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install redoc-cli
        run: npm install -g redoc-cli

      - name: Generate Doc
        run: |
          cd openapi
          npx @redocly/cli build-docs openapi.yaml --output interface-api.html

      - name: Copy Docs
        run: |
          mkdir -p doc/05.interface-api
          cd openapi
          cp interface-api.html ../doc/05.interface-api/interface-api.html

      - name: Commit And Push
        run: |
          sudo git config --global user.email "github-actions[bot]@users.noreply.github.com"
          sudo git config --global user.name "github-actions[bot]"
          sudo git restore --staged openapi
          sudo git pull origin main
          sudo git add doc
          if ! git diff --cached --quiet; then
            sudo git commit -m "Automatically Generated"
            sudo git push origin
          fi

  generate-front-module:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Generate API Client Module
        run: |
          cd openapi
          npx openapi-generator-cli generate
          if ! grep -Fxq 'export type LocaleCode = I18n;' ../front/generated/api/client/api.ts; then
            echo 'export type LocaleCode = I18n;' >> ../front/generated/api/client/api.ts
          fi
          npx openapi-zod-client  openapi.yaml -o ../front/generated/api/client/schemas.ts --export-schemas
          cd ../front
          npx --yes prettier@3 --write "generated/api/client/**/*.{ts,tsx,js,json}"

      - name: Add ESLint Disable Comment
        run: |
          FILE=front/generated/api/client/schemas.ts
          if [ -f "$FILE" ]; then
            sed -i '1s;^;/* eslint-disable */\n;' "$FILE"
          fi

      - name: Copy API Client Module to E2E
        run: |
          mkdir -p e2e/generated/api
          cp -r front/generated/api e2e/generated/

      - name: Commit And Push
        run: |
          sudo git config --global user.email "github-actions[bot]@users.noreply.github.com"
          sudo git config --global user.name "github-actions[bot]"
          sudo git pull --ff-only origin main || true
          sudo git add front/generated/api e2e/generated/api
          if ! git diff --cached --quiet; then
            sudo git commit -m "Automatically Generated"
            sudo git push origin
          fi
