name: Continuous Integration - OpenAPI
on:
  push:
    branches:
      - main
    paths:
      - "openapi/**"
      - ".github/workflows/ci-openapi.yaml"

jobs:
  generate-doc:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install redoc-cli
        run: npm install -g redoc-cli

      - name: Generate Doc
        run: |
          cd openapi
          npx @redocly/cli build-docs openapi.yaml --output interface-api.html

      - name: Copy Docs
        run: |
          mkdir -p doc/05.interface-api
          cd openapi
          cp interface-api.html ../doc/05.interface-api/interface-api.html

      - name: Commit And Push
        run: |
          sudo git config --global user.email "github-actions[bot]@users.noreply.github.com"
          sudo git config --global user.name "github-actions[bot]"
          sudo git restore --staged openapi
          sudo git pull origin main
          sudo git add doc
          if ! git diff --cached --quiet; then
            sudo git commit -m "Automatically Generated"
            sudo git push origin
          fi
